h1{
    text-align: center;
    color: red;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer{
    text-align: center;
}

h2{
    text-align: center;
}

table{
    width: 100%;
        vertical-align: inherit;
        font-weight: bold;
        text-align: center;
}

